*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#eef2f7;
}

.sidebar{
    position:fixed;
    left:0;
    top:0;
    width:240px;
    height:100vh;
    background:#0b3d91;
    color:white;
    padding:20px;
}

.sidebar h2{
    margin-bottom:30px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:12px;
    margin-bottom:8px;
    border-radius:8px;
    transition:.3s;
}

.sidebar a:hover{
    background:#184ea6;
}

.contenido{
    margin-left:240px;
}

.topbar{
    background:white;
    padding:18px 30px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.pagina{
    padding:30px;
}

.card{
    background:white;
    border-radius:12px;
    padding:20px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
}
