{% extends "base.html" %}

{% block title %}Panel Administrador{% endblock %}

{% block content %}

<h1>Panel de Control</h1>

<br>

<div class="card">
    <h2>Bienvenido {{ usuario }}</h2>
    <p>Sistema de Control de Personal Excusado</p>
</div>

<br>

<div style="display:flex; gap:20px; flex-wrap:wrap;">

    <div class="card" style="width:220px;">
        <h3>👥 Usuarios</h3>
        <h1>{{ total_usuarios }}</h1>
    </div>

    <div class="card" style="width:220px;cursor:pointer;"
     onclick="window.location.href='/importar_personal'">

    <h3>📂 Importar Personal</h3>
    <p>Subir Excel</p>

</div>


    <!-- EXCUSAS ACTIVAS -->
    <a href="/lista_excusas?estado=vigente"
       style="text-decoration:none;color:inherit;">

        <div class="card"
             style="width:220px;cursor:pointer;">
            <h3>📄 Excusas Activas</h3>
            <h1>{{ excusas_activas }}</h1>
        </div>

    </a>


    <!-- VENCEN HOY -->
    <a href="/lista_excusas?estado=hoy"
       style="text-decoration:none;color:inherit;">

        <div class="card"
             style="width:220px;cursor:pointer;">
            <h3>⚠ Vencen Hoy</h3>
            <h1>{{ vencen_hoy }}</h1>
        </div>

    </a>


    <!-- TOTAL REGISTRADAS -->
    <a href="/lista_excusas?mostrar=todas"
       style="text-decoration:none;color:inherit;">

        <div class="card"
             style="width:220px;cursor:pointer;">
            <h3>📊 Total Registradas</h3>
            <h1>{{ total_excusas }}</h1>
        </div>

    </a>

</div>

{% endblock %}
