{% extends "base.html" %}

{% block title %}Panel Administrador{% endblock %}

{% block content %}

<h1>Dashboard</h1>

<br>

<div class="card">
    <h2>Bienvenido {{ usuario }}</h2>
    <p>Sistema de Control de Personal Excusado</p>
</div>

<br>

<div style="display:flex; gap:20px; flex-wrap:wrap;">

    <div class="card" style="width:220px;">
        <h3>👥 Usuarios</h3>
        <h1>0</h1>
    </div>

    <div class="card" style="width:220px;">
        <h3>📄 Excusas Activas</h3>
        <h1>0</h1>
    </div>

    <div class="card" style="width:220px;">
        <h3>⚠ Vencen Hoy</h3>
        <h1>0</h1>
    </div>

    <div class="card" style="width:220px;">
        <h3>📊 Total Registradas</h3>
        <h1>0</h1>
    </div>

</div>

{% endblock %}
